body {
	background-color: #629391;
}
p {
	color: #553168;
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	font-size: 20px;
}
h1 {
		color:#626F93;
		font-family:Impact, Charcoal, sans-serif;
		font-size: 60px;
		font-weight: normal;
	}
h2 {
		color:#BBC0C1;
		font-family: 'Quicksand', sans-serif;
		font-weight: 400;
		font-size: 30px;
	}

h3 {
	color: #E18932;
	font-weight: normal;
	text-transform: uppercase;
}

