body {
	background-color: #3FA9DF;
}
p {
	color: #B4131A;
	font-family:Gil-Sans, sans-serif;
	font-size: 20px;
}
h1 {
		color:#F49606;
		font-family:Impact, Charcoal, sans-serif;
		font-size: 60px;
		font-weight: normal;
	}
h2 {
		color:#B4131A;
		font-family: Gil-Sans, sans-serif;
		font-weight: normal;
		font-size: 30px;
		margin-left: 15px;
	}