body {
	text-align: center;
}
h1 {
	text-align: center;
	margin-top: 40px;
}
#hor1 {
	width: 50%;
}
#vert1 {
	width: 50%;
}
#hor2 {
	width: 50%;
}
#vert2 {
	width: 50%;
}
#hor3 {
	width: 50%;
}
#vert3 {
	width: 50%;
}
